.container-fluid
  .row
    #edit-month-charge-container
  .row
    .col-lg-6
      .row
        .col-lg-12
          #date-container
      .row
        .col-lg-12
          #month-manager-container
      .row
        .col-lg-12
          #resume-area-container
      .row
        .col-lg-12
          #month-charges-container
      .row
        .col-lg-12
          #paid-month-charges-container
    .col-lg-6
      .row
        .col-lg-12
          #new-charge-container
      .row
        .col-lg-12
          #charges-container
