.col-lg-9.no-padding
  .lock-unlock(hm-show='collectionFilled')
    i.fa.fa-lock.fa-2x.locked(hm-on-click='toggleEdit', hm-hide='editMode')
    i.fa.fa-unlock.fa-2x.unlocked(hm-on-click='toggleEdit', hm-show='editMode')
  .list-group#charges-list